.links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* transition-property: all; */
    /* transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0); */
    /* transition-duration: 200ms; */
    grid-template-columns: min-content auto min-content;
    grid-auto-flow: column;
    display: grid;
    gap: 16px;
}

@media (max-width: 750px) {
    .links {
        grid-template-columns: auto auto;
        grid-auto-flow: row;
    }
}

@media (max-width: 350px) {
    .links {
        grid-template-columns: auto;
        grid-auto-flow: row;
    }
}

.links:hover {
    color: hsl(236, 11%, 60%);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    transition-duration: 100ms;
}

.links li:hover {
    color: white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    transition-duration: 100ms;
}
