@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 21;
    --background-end-rgb: 20, 20, 100;
    --duration: 0.4s;
    --stagger: 0.2s;
    --interval: calc(var(--duration) - var(--stagger));
    --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 20, 20, 21;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* Views Animation */
::view-transition-old(root) {
    /* animation: fade-and-scale-out 0.5s ease-in-out 1 forwards; */
}

::view-transition-new(root) {
    animation: fade-and-scale-in 0.5s ease-in-out 1 forwards;
}

@keyframes fade-and-scale-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-and-scale-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
/* 
.ui-figure {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom right, #124269, #309aef);
        transform-origin: top left;
    }

    &[data-flip='invert']:before {
        transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
            scale(var(--dw), var(--dh));
    }

    &[data-flip='play']:before {
        transition: transform 0.3s;
        transform: none;
    }

    > .ui-caption {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
} */

/* [data-flip] {
    &[data-flip-bg][data-flip='invert']:before,
    &:not([data-flip-bg])[data-flip='invert'] {
        transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
            scale(var(--dw), var(--dh));
    }

    &[data-flip-bg][data-flip='play']:before,
    &:not([data-flip-bg])[data-flip='play'] {
        transition: transform 0.3s;
        transform: none;
    }
} */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #050507;
    background-image: linear-gradient(to bottom right, #050507, #38393e);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}

.features {
    width: 75vw;
    height: 50vh;
    display: grid;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex: 1;
}

.feature {
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    --border: 2px;
    background: rgba(255, 255, 255, 0.125);
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}
.feature::before,
.feature::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    inset: 0px;
    border-radius: inherit;
    background: radial-gradient(
        800px circle at var(--x-px) var(--y-px),
        rgba(255, 255, 255, 0.3),
        transparent 40%
    );
}

.feature::before {
    z-index: 1;
}

.feature::after {
    opacity: 0;
    z-index: 2;
    transition: opacity 0.4s ease;
}

.feature:hover::after {
    opacity: 1;
}

.feature-content {
    background: rgb(19, 19, 21);
    border-radius: inherit;
    color: white;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    inset: var(--border);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;

    padding: 1rem;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* transition-property: all; */
    /* transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0); */
    /* transition-duration: 200ms; */
    grid-template-columns: min-content auto min-content;
    grid-auto-flow: column;
    display: grid;
    gap: 16px;
}

@media (max-width: 750px) {
    .links {
        grid-template-columns: auto auto;
        grid-auto-flow: row;
    }
}

@media (max-width: 350px) {
    .links {
        grid-template-columns: auto;
        grid-auto-flow: row;
    }
}

.links:hover {
    color: hsl(236, 11%, 60%);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    transition-duration: 100ms;
}

.links li:hover {
    color: white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    transition-duration: 100ms;
}
