@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 21;
    --background-end-rgb: 20, 20, 100;
    --duration: 0.4s;
    --stagger: 0.2s;
    --interval: calc(var(--duration) - var(--stagger));
    --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 20, 20, 21;
        --background-end-rgb: 0, 0, 0;
    }
}

@keyframes fade-and-scale-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-and-scale-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* Views Animation */
::view-transition-old(root) {
    animation: fade-and-scale-out 0.5s ease-in-out 1 forwards;
}

::view-transition-new(root) {
    animation: fade-and-scale-in 0.3s ease-in-out 1 forwards;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #050507;
    background-image: linear-gradient(to bottom right, #050507, #38393e);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}
