name: Check Broken Links

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      ISSUE_LABEL: "Content"
      ISSUE_TITLE: "[CONTENT] Broken Links Found"
      WORKFLOW_FILE_PATH: "actions/workflows/check-broken-links.yml"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Check links with linkcheck
        uses: filiph/linkcheck@3.0.0
        with:
          arguments: https://www.filecoin.io --external --skip-file linkcheck-skip-file.txt > linkcheck-results.txt
        id: linkcheck

      - name: Upload linkcheck-results.txt as artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: linkcheck-results
          path: linkcheck-results.txt
